/* begin nav bar */
nav {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-image: linear-gradient(#00B9AE, #A2E5E1, white);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

/* end nav bar */

/* grid layout*/
body.index{

    grid-template-areas:
    "header header header"
  "main main aside"
  "main main aside"
  "footer footer footer"
}
body{
display: grid;
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0%;
  background-color: white;
  grid-template-columns: 50% 20% 1fr;
}
body.page2 {
    grid-template-areas:
    "header header header"
  "aside main main"
    "footer footer footer"
}
body.page3 {
  grid-template:
  "header header header"
  "main main section1"
  "aside aside section2"
  "footer footer footer"
}
body.page4 {
  grid-template:
  "header header header"
  "aside asie main"
  "footer footer footer"
}
header {
  grid-area: header;
}
main {
  grid-area:  main;
  padding: 10px;


}
.main-paragraph {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
.jokes-paragraph {
  font-size: 25px;
}


aside {
  grid-area: aside;
  padding: 10px;

}






footer {
grid-area: footer;
}

section.1 {
  grid-area: section2;
}

section.2 {
  grid-area: section2;
}


.footer-color {
  background-color: black;
}
.footer-style{
  border-color: black;
  border-width: 5px;
  border-style: double;
  padding: 10px;
height: inherit;
font-size: 20px;


}
.aside-color {
  background-color: #B54555;
}

.main-color {
  background-color: #88ddc1;
}
.section1-color {
  background-color:  #88ddc1;
}
.section2-color {
  background-color: #ddb388;
}

/* end of grid layout */






/* images */

img {
  width: 300px;
  height: 300px;

  border-radius: 10px;
  border: solid;
  border-color: green;



}
img.a {
  width: 50vw;
  height: 30vh;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}

img.b {
  width: 300px;
  height: 300px;
  margin-left: 300px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}

img.c {
  margin: 10px 10px 10px 10px;
  width: 80%;
  height: 80%;
}


  /* end of images */










  /* headings */

.heading-style {
border-style: solid;
border-color: white;
background-color: palegreen;

text-align: center;

}
.heading-1{
  font-size: 45px;
  padding-top: 250px;
  width:45vw;
  height: 45vh;
}


.heading-1:hover {
background-color: #00bfff;
border-color: black;
transition-duration: 3s;



}


  /* end of headings */

.p-style {
  text-align: center;
  font-size: 25px;


}


.p-color {
  color: white;
}



















/* end of indiviudal articles  */
