/* begin nav bar */
nav {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

/* end nav bar */

body {

display: grid;
width: auto;
grid-template-columns: 
}
header {
  grid-area: header;

}
main {
  grid-area: main;

}
aside {
  grid-area: aside;

}

footer {
  grid-area: footer;
}



footer {
  text-align: center;
  background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);
  padding-bottom: 50px;
  border-style: solid;
  border-width: 3px;
}



/* images */

img {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  border-radius: 10px;
  border: solid;
  border-color: green;



}
img.a {
  width: 300px;
  height: 300px;
  margin-left: 300px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}

img.b {
  width: 300px;
  height: 300px;
  margin-left: 300px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}


  /* end of images */










  /* headings */

h1 {
  border-style: solid;
  border-width: 3px;
    text-align: center;
    font-size: 60px;
    border-radius: 10px;
  margin: 8px 70px 2px 80px;
  width: 1fr;
  height: 1fr;
  }


h2 {
  border-style: solid;
  border-width: 3px;
    text-align: center;
      background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);

}
h3 {
  border-style: solid;
  border-width: 3px;
    text-align: center;
      background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);
}

.changeheadingcolor {
  background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);
}
.changeheadingcolor:hover {
  background: linear-gradient(red, yellow, orange);
  transition: 5s;
}

  /* end of headings */
p {
  margin: 5px;
  width: 55%;
    padding: 10px;
}





article{

  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  font-size: 25px;



}


/* These are indiviudal articles */
article.a {
  padding-bottom: 100px;
}



article.c {



  padding-bottom: 150px;

}

article.d {
  padding-bottom: 150px;
}




article.g {


 animation-duration: 4s

}


article.i {

    text-align: center;
    padding-bottom: 100px;
}


article.j {

  text-align: center;

  padding-bottom: 100px;
}















/* end of indiviudal articles  */
