/* begin nav bar */
nav {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-image: linear-gradient(#A3EDFF, #85DBFF, #4976CC);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

/* end nav bar */

/* grid layout*/

body{
display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
"main main aside"
"main main aside"
"footer footer footer"




}
header {
  grid-area: header;
}
main {
  grid-area:  main;
  
}
.main-paragraph {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
.jokes-paragraph {
  font-size: 25px;
}


aside {
  grid-area: aside;
}






footer {
grid-area: footer;
padding:
}
.footer-color {
  background-color: #ccffff;
}

.aside-color {
  background-color:  #d9d9d9;
}

.main-color {
  background-color: #e6e6e6;
}
 

/* end of grid layout */






/* images */

img {
  width: 300px;
  height: 300px;

  border-radius: 10px;
  border: solid;
  border-color: green;



}
img.a {
  width: 1fr;
  height: 1fr;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}

img.b {
  width: 300px;
  height: 300px;
  margin-left: 300px;
  border-radius: 10px;
  border: solid;
  border-color: green;
}

img.c {
  margin: 10px 10px 10px 10px;
  width: 80%;
  height: 80%;
}


  /* end of images */










  /* headings */





  /* end of headings */
























/* end of indiviudal articles  */
